$color: #dddddd;

@media only screen and (max-width:600px){
  body { background-color: blue;}
  }

%body{
  text-align: center;
}
.bodyindex{
  @extend %body;
  background-color: aliceblue;
}
.bodysights{
  @extend %body;
  background-color: bisque;
}
.bodyactivities{
  @extend %body;
  background-color: lemonchiffon;
}

.bodyrestaurants{
  @extend %body;
  background-color: honeydew; 
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid $color;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: $color;
  }
}

ul {
  list-style-type: square;
  text-align: left;
  margin: 25px 400px;
}

#praag {
  border-style: solid;
}
.navbar-brand {
    background-color: Coral;
}
